[submodule "ffmlp/dependencies/cutlass"]
	path = ffmlp/dependencies/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "IBRNet"]
	path = IBRNet
	url = https://github.com/googleinterns/IBRNet.git
